@import "tailwindcss";

@theme {
  --color-primary: #85e0c2;
  --color-primary-hover: #6ddeb8;
  --color-background-light: #f8f7f7;
  --color-surface-light: #ffffff;
  --color-input-light: #F7F1EA;
  --color-text-main: #121715;
  --color-text-muted: #50665e;

  --font-display: var(--font-plus-jakarta-sans), "Plus Jakarta Sans", sans-serif;
  --font-body: var(--font-noto-sans), "Noto Sans", sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-full: 9999px;

  --shadow-soft: 0 8px 40px -12px rgba(0, 0, 0, 0.08);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(133, 224, 194, 0.5);
  border-radius: 20px;
}